@page
@model BatteryPeykCustomers.Pages.Admin.Debts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div>

    <dl class="row">
        <dt class="col-sm-2">
            تاریخ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Debt.Date)
        </dd>
        <dt class="col-sm-2">
            طرف حساب
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Debt.Counterparty.Title)
        </dd>
        <dt class="col-sm-2">
            بابت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Debt.Reason.Title)
        </dd>
        <dt class="col-sm-2">
            مبلغ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Debt.Amount)
        </dd>
        <dt class="col-sm-2">
            توضیحات
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Debt.Description)
        </dd>
        @* <dt class="col-sm-2">
            تاریخ سررسید
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Debt.DueDate)
        </dd>
        <dt class="col-sm-2">
            تسویه شده
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Debt.Settled)
        </dd> *@
      
       
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Debt.Id" />
        <input type="submit" value="حذف" class="btn btn-danger mt-2" />
        <a asp-page="./Index" class="btn btn-success mt-2">بازگشت</a>
    </form>
</div>
