@page
@using System.Globalization
@using BatteryPeykCustomers.Helpers
@model BatteryPeykCustomers.Pages.Admin.Debts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">

    <p>
        <a class="btn btn-info" asp-page="Create">
            <i class="bi bi-plus-square"></i>&nbsp;&nbsp;بدهی جدید
        </a>
        <span class="mx-4">
             جمع بدهی ها:
            <strong>
                @Model.TotalDebit.ToString("N0")
            </strong>
            تومان
        </span>
    </p>
</div>

    <table class="table table-sm table-striped">

        <thead>
            <tr>
                <th>
                    تاریخ
                </th>
                @*  <th>
                طرف حساب
                </th>
                <th>
                بابت
                </th> *@
                <th>
                    مبلغ
                </th>
                <th>
                    توضیحات
                </th>@*  <th>
                تاریخ سررسید
                </th>
                <th>
                تسویه شده
                </th> *@


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Debt)
            {
                <tr>
                    <td>
                        @item.Date.ToShortDateString()
                    </td>
                    @* <td>
                @Html.DisplayFor(modelItem => item.Counterparty.Title)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Reason.Title)
                </td> *@
                    <td>
                        @item.Amount.ToString("N0")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*   <td>
                @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Settled)
                </td> *@


                    <td class="text-center">
                        <a asp-page="./Edit" asp-route-id="@item.Id" style="text-decoration:none" class="text-success"> <i class="bi bi-pencil-square" style="font-size:1.5rem"></i> </a> &nbsp;&nbsp;
                        <a asp-page="./Delete" asp-route-id="@item.Id" style="text-decoration:none" class="text-danger"><i class="bi bi-check-square" style="font-size:1.5rem"></i> </a>
                        &nbsp; &nbsp;
                        <a asp-page="./Details" asp-route-id="@item.Id" style="text-decoration:none" class="text-info"><i class="bi bi-info-square-fill" style="font-size:1.5rem"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
