@page
@model BatteryPeykCustomers.Pages.Admin.Debts.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Debt[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debt[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debt[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debt[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debt[0].Settled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debt[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debt[0].Counterparty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Debt) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Settled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Counterparty.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
