@page
@model BatteryPeykCustomers.Pages.Admin.Profits.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/persianDatepicker-default.css" />

<p>
    <a class="btn btn-info" asp-page="Create">
        <i class="bi bi-plus-square"></i>&nbsp;&nbsp;درآمد جدید
    </a>
</p>
<div class="row">
    <div class="col-sm-4 mb-3">
        <form method="get">
            <div class="form-group mb-3">
                از تاریخ
                <input type="text" id="input1" class="form-control" />
                <input style="display:none" type="text" id="from" asp-for="From" />
            </div>
            <div class="form-group mb-2">
                تا تاریخ
                <input type="text" id="input2" class="form-control" />
                <input style="display:none" type="text" id="to" asp-for="To" />
            </div>
            <input class="btn btn-info" type="submit" value="گزارش" />
        </form>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    تاریخ
                </th>
                <th>
                    مبلغ
                </th>
                <th>
                    توضیحات
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Profit)
            {
                <tr>
                    <td>
                        @item.Date.ToShortDateString()
                    </td>
                    <td>
                        @item.Amount.ToString("N0")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-center">
                        <a asp-page="./Edit" asp-route-id="@item.Id" style="text-decoration:none" class="text-success"> <i class="bi bi-pencil-square" style="font-size:1.5rem"></i> </a> &nbsp;&nbsp;
                        <a asp-page="./Delete" asp-route-id="@item.Id" style="text-decoration:none" class="text-danger"><i class="bi bi-trash-fill" style="font-size:1.5rem"></i> </a> &nbsp;&nbsp;
                        <a asp-page="./Details" asp-route-id="@item.Id" style="text-decoration:none" class="text-info"><i class="bi bi-info-square-fill" style="font-size:1.5rem"></i> </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/persianDatepicker.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#input1, #input2").persianDatepicker(
                    {
                        cellWidth: 30,
                        cellHeight: 30,
                        fontSize: 14,

                        onSelect: function () {

                            let from = $("#input1").attr("data-gdate");
                            let to = $("#input2").attr("data-gdate");
                            $("#from").val(from);
                            $("#to").val(to);
                        }
                    }
                );
            });
        </script>

    }
}


