@page
@model BatteryPeykCustomers.Pages.Admin.Report.DailyTotalsModel
@{
    ViewData["Title"] = "Sales by Date";
}
<link rel="stylesheet" href="~/css/persianDatepicker-default.css" />
<div class="container">
    <div class="d-flex justify-content-center">
        <h6>تعداد فروش به تفکیک تاریخ</h6>
    </div>
    <div class="row">
        <div class="col-sm-4 mb-3">
            <form method="get">
                <div class="form-group mb-3">
                    از تاریخ
                    <input type="text" id="input1" class="form-control" />
                    <input style="display:none" type="text" id="from" asp-for="From" />
                </div>
                <div class="form-group mb-2">
                    تا تاریخ
                    <input type="text" id="input2" class="form-control" />
                    <input style="display:none" type="text" id="to" asp-for="To" />
                </div>
                <input class="btn btn-primary" type="submit" value="گزارش" />
            </form>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center mb-3">
        <div class="ms-3">
            از تاریخ:
            <span>
                @(@Model.From != null ? @Model.From.Value.ToShortDateString() : "")
            </span>
        </div>
        <div>
            تا تاریخ:
            <span>
                @(@Model.To != null ? @Model.To.Value.ToShortDateString() : "")
            </span>
        </div>
    </div>

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>تاریخ</th>
                <th class="text-center">تعداد</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DailyTotals?.Any() ?? false)
            {
                foreach (var row in Model.DailyTotals)
                {
                    <tr>
                        <td>@row.Date.ToShortDateString()</td>
                        <td class="text-center">@row.Count</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2" class="text-center">هیچ داده‌ای یافت نشد</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="d-flex flex-row justify-content-center">

            مجموع:
            @Model.SumTotals

        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/persianDatepicker.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#input1, #input2").persianDatepicker(
                    {
                        cellWidth: 30,
                        cellHeight: 30,
                        fontSize: 14,

                        onSelect: function () {

                            let from = $("#input1").attr("data-gdate");
                            let to = $("#input2").attr("data-gdate");
                            $("#from").val(from);
                            $("#to").val(to);
                        }
                    }
                );
            });
        </script>

    }
}
