@page
@model BatteryPeykCustomers.Pages.Admin.Report.UsedModel
@{
    ViewData["Title"] = "Index";
}

<div class="container pt-2">
    <div class="row d-flex justify-content-center mb-3">
        <div class="col-4">
            تعداد:
            @Model.Count
        </div>
        <div class="col-4">
            آمپر:

            @Model.TotalAmper
        </div>
    </div>
    <div class="row">
        <table class="table table-sm table-striped mx-2">

            <thead>
                <tr>
                    <th class="text-center">
                        تاریخ
                    </th>
                    <th class="text-center">
                        <a asp-page="./used" asp-route-sortOrder="@ViewData["BrandSort"]" class="text-info">

                            برند داغی
                        </a>

                    </th>
                    <th class="text-center ps-3">
                        <a asp-page="./used" asp-route-sortOrder="@ViewData["AmperSort"]" class="text-info">

                            آمپر
                        </a>

                    </th>
                    <th>
                        مشتری
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UsedHistories)
                {
                    <tr>
                        <td class="text-center">
                            @item.Date.ToShortDateString()
                        </td>
                        <td class="text-center">
                            @item.Brand
                        </td>
                        <td class="text-center ps-3">
                            @item.Amper
                        </td>
                        <td>
                            <a asp-page="/Admin/Cars/Index" asp-route-customerId="@item.CustomerId" class="text-decoration-none text-info">@item.Customer.Name </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @* 
    <div class="row mt-4">
        <div>
            <p class="text-center text-danger">گزارش تعدا داغی ها بر اساس آمپر/برند</p>
            <hr /> 
        </div>
        <div>
            <table class="table table-sm table-striped mx-2">

                <thead>
                    <tr>
                        <th class="text-center ps-3">
                            <a asp-page="./used" asp-route-groupOrder="@ViewData["BrandGroupSort"]" class="text-info">

                                آمپر
                            </a>
                        </th>
                        <th class="text-center">
                            <a asp-page="./used" asp-route-groupOrder="@ViewData["AmperGroupSort"]" class="text-info">

                                باتری
                            </a>
                        </th>
                        <th class="text-center">
                            تعداد
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsedReportGrouped)
                    {
                        <tr>

                            <td class="text-center ps-3">
                                @item.Amper
                            </td>
                            <td class="text-center">
                                @item.Brand
                            </td>
                            <td class="text-center">
                                @item.Count
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>*@
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/persianDatepicker.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#input1, #input2").persianDatepicker(
                    {
                        cellWidth: 30,
                        cellHeight: 30,
                        fontSize: 14,

                        onSelect: function () {

                            let from = $("#input1").attr("data-gdate");
                            let to = $("#input2").attr("data-gdate");
                            $("#from").val(from);
                            $("#to").val(to);
                        }
                    }
                );
            });
        </script>

    }
}


