@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*
<div class="text-center">
    <h5 style="direction:rtl">
        به پنل

        مشتریان VIP <a href="https://BatteryPeyk.com">باتری پیک</a>
        خوش آمدید
    </h5>
    <a href="https://BatteryPeyk.com">
        <img src="~/images/BatterypeykLogo.png" class="img-fluid mt-3" width="128" height="128" alt="باتری پیک" />
    </a>
</div>




<div class="container mt-5 border-1" dir="rtl">

    <div class="row">
        <div class="col-sm-6">
            <p>
                <strong>
                    نام: &nbsp; &nbsp;
                </strong>

                @Model.Customer.Name
            </p>

            <p>
                <strong>
                    شماره موبایل: &nbsp;

                </strong>
                @Model.Customer.Phone

            <p>
                <strong>
                    آدرس: &nbsp;

                </strong>
                    @Model.Customer.Address

           @*  <p>
                <strong>
                    ماشین: &nbsp;

                </strong>
                        @Model.Customer.Car

            <p>
                <strong>
                    باتری: &nbsp;

                </strong>
                            @Model.Customer.Battery

            <p>
                <strong>
                    تاریخ خرید: &nbsp;

                </strong>
                                @Model.ToPersianDate(@Model.Customer.PurchaseDate)

            <p>
                <strong>
                    تاریخ اتمام گارانتی: &nbsp;

                </strong>
                                    @{
                                        var expireDate = Model.CalcGuarantyExpireDate();
                    <span class="(expireDate > DateTime.Today?" text-danger": &nbsp;"text-dark")"> @expireDate</span>
                                    }


            <p>
                <strong>
                    وضعیت باتری: &nbsp;

                </strong>
                                        @{
                                            var monthsPassed = Model.CalcLife();
                                            @if (monthsPassed < Model.Customer.LifeExpectancy / 2)
                                            {
                        <span class="text-success">سالم</span>
                                            }
                                            else if ((Model.Customer.LifeExpectancy / 2) < monthsPassed && monthsPassed < Model.Customer.LifeExpectancy - 2)
                                            {
                        <span class="text-warning">سالم (احتیاط)</span>
                                            }
                                            else
                                            {
                        <span class="text-danger"> در اولین فرصت تعویض شود</span>
                                            }
                                        }

        </div>

    </div>
</div> *@
<form  method="post">
    <button class="btn btn-primary" type="submit">Send SMS</button>
</form>
