@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To <a href="https://BatteryPeyk.com">BatteryPeyk</a> VIP customer panel</p>
</div>


<div>
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Customer.Name
        </dd>
        <dt class="col-sm-2">
            Phone
        </dt>
        <dd class="col-sm-10">
            @Model.Customer.Phone
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Model.Customer.Address
        </dd>
        <dt class="col-sm-2">
            Car
        </dt>
        <dd class="col-sm-10">
            @Model.Customer.Car
        </dd>
        <dt class="col-sm-2">
            Battery
        </dt>
        <dd class="col-sm-10">
            @Model.Customer.Battery
        </dd>
        <dt class="col-sm-2">
            Purchase Date
        </dt>
        <dd class="col-sm-10">
            @Model.ToPersianDate(@Model.Customer.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            Guaranty remained
        </dt>
        <dd class="col-sm-10">
            @{
                var expireDate = Model.CalcGuarantyExpireDate();
                <span class="(expireDate > DateTime.Today?" text-danger":"text-dark")"> @expireDate</span>
            }

        </dd>
        <dt class="col-sm-2">
            Battery condition
        </dt>
        <dd class="col-sm-10">
            @{
                var monthsPassed = Model.CalcLife();
                @if (monthsPassed < Model.Customer.LifeExpectancy / 2)
                {
                    <span class="text-success">OK</span>
                }
                else if ((Model.Customer.LifeExpectancy / 2) < monthsPassed && monthsPassed < Model.Customer.LifeExpectancy - 3)
                {
                    <span class="text-warning">OK</span>
                }
                else
                {
                    <span class="text-danger">Replace</span>
                }
            }
        </dd>
    </dl>
</div>
