@page
@model BatteryPeykCustomers.Pages.Admin.Expenses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            تاریخ
        </dt>
        <dd class="col-sm-10">
            @Model.Expense.Date.ToShortDateString()
        </dd>
       @* <dt class="col-sm-2">
            طرف حساب
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Counterparty.Title)
        </dd>
         <dt class="col-sm-2">
            بابت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Reason.Title)
        </dd> *@
      
        <dt class="col-sm-2">
            مبلغ
        </dt>
        <dd class="col-sm-10">
            @Model.Expense.Amount.ToString("N0")
        </dd>
        <dt class="col-sm-2">
            توضیحات
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Description)
        </dd>


    </dl>
</div>
<div>
    <a class="btn btn-primary ml-2" asp-page="./Edit" asp-route-id="@Model.Expense.Id">ویرایش</a>
    <a class="btn btn-primary ml-2" asp-page="./Index">بازگشت</a>
</div>
