@page
@model BatteryPeykCustomers.Pages.Admin.Expenses.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/persianDatepicker-default.css" />
<div class="row">

<p>
    <a class="btn btn-primary" asp-page="Create">
            <i class="bi bi-plus-square ms-2"></i>هزینه جدید
    </a>
</p></div>
<div class="row">
    <div class="col-sm-4 mb-3">
        <form method="get">
            <div class="form-group mb-3">
                از تاریخ
                <input type="text" id="input1" class="form-control" />
                <input style="display:none" type="text" id="from" asp-for="From" />
            </div>
            <div class="form-group mb-2">
                تا تاریخ
                <input type="text" id="input2" class="form-control" />
                <input style="display:none" type="text" id="to" asp-for="To" />
            </div>
            <input class="btn btn-primary" type="submit" value="گزارش" />
        </form>
    </div>
</div>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>
                    تاریخ
                </th>
                @* <th>
                طرف حساب
                </th>
                <th>
                بابت
                </th> *@
                <th>
                    مبلغ
                </th>
                <th>
                    توضیحات
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Expense)
            {
                <tr>
                    <td>
                        @item.Date.ToShortDateString()
                    </td>
                    @*   <td>
                @Html.DisplayFor(modelItem => item.Counterparty.Title)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Reason.Title)
                </td> *@
                    <td>
                        @item.Amount.ToString("N0")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>


                    <td class="text-center">
                    <a asp-page="./Edit" asp-route-id="@item.Id" style="text-decoration:none"> <i class="bi bi-pencil-square ms-2" style="font-size:1.5rem"></i> </a> 
                    <a asp-page="./Delete" asp-route-id="@item.Id" style="text-decoration:none" class="text-danger"><i class="bi bi-trash-fill ms-2" style="font-size:1.5rem"></i> </a> 
                        <a asp-page="./Details" asp-route-id="@item.Id" style="text-decoration:none" class="text-primary"><i class="bi bi-primary-square-fill" style="font-size:1.5rem"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/persianDatepicker.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#input1, #input2").persianDatepicker(
                    {
                        cellWidth: 30,
                        cellHeight: 30,
                        fontSize: 14,

                        onSelect: function () {

                            let from = $("#input1").attr("data-gdate");
                            let to = $("#input2").attr("data-gdate");
                            $("#from").val(from);
                            $("#to").val(to);
                        }
                    }
                );
            });
        </script>

    }
}


