@page
@model BatteryPeykCustomers.Pages.Admin.Useds.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<p>
    <a class="btn btn-info" asp-page="Create">
        <i class="bi bi-plus-square"></i>&nbsp;&nbsp; داغی جدید
    </a>
</p>


<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center">داغی ها</h5>
            <p class="card-text">
                <strong>
                    تعداد:
                    @Model.Used.Quantity
                </strong>
            </p>
            <p>
                <strong>
                    آمپر:
                    @Model.Used.Amperage.ToString("N0")
                </strong>
            </p>
            <div class="d-flex justify-content-end">
                <a asp-page="./Edit" asp-route-id="@Model.Used.Id" style="text-decoration:none" class="text-success"> <i class="bi bi-pencil-square" style="font-size:1.5rem"></i> </a> &nbsp;&nbsp;&nbsp;
                <a asp-page="./Delete" asp-route-id="@Model.Used.Id" style="text-decoration:none" class="text-danger"><i class="bi bi-trash-fill" style="font-size:1.5rem"></i> </a> &nbsp;&nbsp;&nbsp;
                <a asp-page="./Details" asp-route-id="@Model.Used.Id" style="text-decoration:none" class="text-info"><i class="bi bi-info-square-fill" style="font-size:1.5rem"></i> </a>
            </div>
        </div>
    </div>
</div>
