@page
@model BatteryPeykCustomers.Pages.Admin.Useds.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<p>
    <a class="btn btn-primary" asp-page="Create">
        <i class="bi bi-plus-square ms-2"></i> داغی جدید
    </a>
</p>


<div class="d-flex justify-content-center">
    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <h5 class="card-title text-center">داغی ها</h5>
            <p class="card-text">
                <strong>
                    تعداد:
                </strong>
                <span style="font-size:1.3rem">
                    @Model.Used.Quantity
                </span>
            </p>
            <p class="mb-5">
                <strong>
                    آمپر:
                </strong>
                <span style="font-size:1.3rem"> @Model.Used.Amperage.ToString("N0")</span>
            </p>

            <div class="d-flex justify-content-evenly ">
                <a asp-page="./Edit" asp-route-id="@Model.Used.Id" style="text-decoration:none">
                    <i class="bi bi-pencil-square" style="font-size:2rem"></i>
                </a>
                
                <a asp-page="./Delete" asp-route-id="@Model.Used.Id" style="text-decoration:none"
                   class="btn btn-danger">
                   
                   @* <i class="bi bi-trash-fill mx-3" style="font-size:1.5rem"></i> *@
                    ریست
                   
               </a>


                <form method="post" asp-page-handler="Reset">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@Model.Used.Id" />
                    @* <button type="submit" class="btn btn-danger ms-2">ریست</button> *@
                    <a class="btn btn-primary" asp-page="ExportUsedPdf">
                        <i class="bi bi-file-earmark-pdf-fill text-danger"></i>گزارش داغی ها
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>


