@page
@model BatteryPeykCustomers.Pages.Admin.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<script type="text/javascript">
    function copy(phone) {
        navigator.clipboard.writeText("https://BatteryPeyk.com/vip.html?m=" + phone);
    }
</script>

<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-2">@Model.Customer.Name</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
            <a class="btn btn-outline-info mb-2 font-weight-light" href=tel:'@Model.Customer.Phone'>
                @Model.Customer.Phone
                <i class="bi bi-telephone"></i>
            </a>
        </h6>
        <p class="card-text">

            لینک باشگاه مشتریان:
        <p>
            <input style="direction:ltr" class="form-control" disabled value="https://BatteryPeyk.com/vip.html?m=@Model.Customer.Phone" />
        </p>

        آدرس:
        <p>
                @Model.Customer.Address
        </p>
        <a class="btn btn-primary ml-2" asp-page="./Edit" asp-route-id="@Model.Customer.Id">ویرایش</a>
        <a class="btn btn-primary ml-2" asp-page="./Index">بازگشت</a>
        <button class="btn btn-primary ml-2" onclick="copy('@Model.Customer.Phone')"> کپی لینک</button>
    </div>
</div>