@page
@using BatteryPeykCustomers.Helpers
@model BatteryPeykCustomers.Pages.Admin.Customers.ExpireModel

@{
    ViewData["Title"] = "Expire";
}

<h1 class="text-center">مشتریانی که نیاز به تعویض باتری دارند</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                تلفن
            </th>
            <th class="text-center">
                
            </th>
            <th class="text-center">
                ماشین
            </th>

            <th class="text-center">
                باتری
            </th>
            <th class="text-center">
                تاریخ خرید
            </th>
            <th class="text-center">
                طول عمر
            </th>
            <th class="text-center">
                تاریخ تعویض
            </th>

            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.vm.Expires)
        {
            <tr>
                <td class="text-center">
                    <a asp-page="/Admin/Cars/Index" asp-route-customerId="@item.CustomerId" style="text-decoration:none">@item.Phone</a>
                </td>
                <td class="text-center">
                    <form method="post">
                        <input type="text" hidden name="name" value="@item.Name" />
                        <input type="text" hidden name="phone" value="@item.Phone" />
                        <button class="btn btn-warning" type="submit">ارسال پیامک</button>
                    </form>
                </td>
                <td class="text-center">
                    @item.Make
                </td>
                <td class="text-center">
                    @item.Battery
                </td>
                <td class="text-center">
                    @item.PurchaseDate.ToPersianDate()
                </td> 
                <td class="text-center">
                    @item.LifeExpectancy
                </td>
                <td class="text-center">
                    @item.ReplaceDate.ToPersianDate()
                </td>
            </tr>
        }
    </tbody>
</table>
