@page
@model BatteryPeykCustomers.Pages.Admin.Customers.ExpireModel

@{
    ViewData["Title"] = "Expire";
}

<h1>مشتریانی که نیاز به تعویض باتری دارند</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Phone
            </th>
            <th>
                Name
            </th>
            <th>
                Battery
            </th>
            <th>
                PurchaseDate
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id" style="text-decoration:none">@item.Id </a>
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Battery
                </td>
                <td>
                    @Model.ToPersianDate(item.PurchaseDate)
                </td>

                <td>
                    <form method="post">
                        <input type="submit" value="انجام شد" class="text-success" asp-route-id="@item.Id" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
