@page
@using BatteryPeykCustomers.Helpers
@model BatteryPeykCustomers.Pages.Admin.Customers.ExpireModel

@{
    ViewData["Title"] = "Expire";
}


<div class="text-right">
    تعداد تعویضی ها : @Model.vm.count
</div>
    <div class="row">

        @foreach (var item in Model.vm.Expires)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a asp-page="/Admin/Cars/Index" asp-route-customerId="@item.CustomerId" style="text-decoration:none">@item.Name</a>

                        </h5>
                        <h6 class="card-subtitle mb-2 text-center">
                            <a class="btn btn-outline-info font-weight-light" href=tel:'@item.Phone'>
                                @item.Phone
                                <i class="bi bi-telephone">
                                </i>
                            </a>

                        </h6>
                        <div class="card-text mb-2">
                            <div><strong> ماشین: </strong>@item.Make </div>
                            <div><strong> باتری: </strong>@item.Battery </div>
                            <div><strong> تاریخ خرید: </strong>@item.PurchaseDate.ToPersianDate() </div>
                            <div><strong> طول عمر: </strong>@item.LifeExpectancy </div>
                            <div><strong> تاریخ تعویض: </strong>@item.ReplaceDate.ToPersianDate() </div>
                        </div>
                        <form method="post">
                            <input type="text" hidden name="name" value="@item.Name" />
                            <input type="text" hidden name="phone" value="@item.Phone" />
                            <input type="text" hidden name="id" value="@item.Id" />
                            <button class="btn btn-success" type="submit">ارسال پیامک</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
