@page "{currentpage:int?}"
@model BatteryPeykCustomers.Pages.Admin.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />
<p>
    <a class="btn btn-info" asp-page="Create"><i class="bi bi-plus-square"></i>&nbsp;&nbsp;مشتری جدید</a>
</p>

<div class="row">
    <div class="col-sm-4">
        <form>

            <div class="form-floating">
                <input type="text" class="form-control mb-1" asp-for="SearchNameString" id="name" placeholder="Name" />
                <label for="name">Name</label>
            </div>    <div class="form-floating">
                <input type="text" class="form-control mb-1" asp-for="SearchPhoneString" id="phone" placeholder="Phone" />
                <label for="phone">Phone</label>
            </div>    <div class="form-floating">
                <input type="text" class="form-control mb-1" asp-for="SearchBatteryString" id="battery" placeholder="Battery" />
                <label for="battery">Battery</label>
            </div>

            <button type="submit" class="btn btn-info mt-2"><i class="bi bi-search"></i>&nbsp;&nbsp;جستجو</button>
            <button type="reset" class="btn btn-info mt-2"><i class="bi bi-eraser"></i>&nbsp;&nbsp;ریست</button>

        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Battery
                </th>
                <th>
                    Phone
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id" style="text-decoration:none">@item.Id </a>

                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Battery
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" style="text-decoration:none" class="text-success "><i class="bi bi-pencil-square" style="font-size:1.2rem"></i> </a> |
                        <a asp-page="./Delete" class="text-danger" asp-route-id="@item.Id" style="text-decoration:none"><i class="bi bi-trash-fill" style="font-size:1.2rem"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Count > 10)
    {
        <div>
            <ul class="pagination">
                <li class=" page-item @(!Model.ShowFirst? "disabled":"")">
                    <a asp-page="./Index" asp-route-CurrentPage="1" class="page-link bg-info"><i class="bi bi-skip-backward-fill" style="@(!Model.ShowFirst? "color:gray":"")"></i></a>
                </li>

                <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                    <a asp-page="./Index" asp-route-CurrentPage="@(Model.CurrentPage -1)" class="page-link bg-info"><i class="bi bi-skip-start-fill" style="@(!Model.ShowPrevious? "color:gray":"")"></i></a>
                </li>
                <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                    <a asp-page="./Index" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link bg-info"><i class="bi bi-skip-end-fill" style="@(!Model.ShowNext? "color:gray":"")"></i></a>
                </li>

                <li class="page-item  @(!Model.ShowLast? "disabled":"")">
                    <a asp-page="./Index" asp-route-CurrentPage="@Model.TotalPages" class="page-link bg-info"><i class="bi bi-skip-forward-fill" style="@(!Model.ShowLast? "color:gray":"")"></i></a>
                </li>
                <li><span class="p-2"> Page @Model.CurrentPage of @Model.TotalPages ( @Model.Count)</span></li>
            </ul>


        </div>

    }
</div>
