@page "{currentpage:int?}"
@model BatteryPeykCustomers.Pages.Admin.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary" asp-page="Create">
        <i class="bi bi-plus-square ms-2"></i>ثبت مشتری
    </a>
</p>

<div class="row">
    <div class="col-sm-4">
        <form>

            <div class="form-floating">
                <input type="text" class="form-control mb-1" asp-for="SearchNameString" id="name" placeholder="Name" />
                <label for="name">نام</label>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-floating">
                    <input type="text" class="form-control mb-1" asp-for="SearchPhoneString" id="phone" placeholder="Phone" />
                    <label for="phone">تلفن</label>
                </div>
            }
            <div class="form-floating">
                <input type="text" class="form-control mb-1" asp-for="SearchCommentString" id="Desc" placeholder="توضیحات" />
                <label for="Comments">توضیحات</label>
            </div>

            <button type="submit" class="btn btn-primary mt-2"><i class="bi bi-search ms-2"></i>جستجو</button>
            <button type="reset" class="btn btn-primary mt-2"><i class="bi bi-eraser ms-2"></i>ریست</button>

        </form>
    </div>
    <table class="table table-sm table-striped mt-3">
        <thead>
            <tr>
                <th class="text-center">
                    نام
                </th>
                @if (User.IsInRole("Admin"))
                {
                    <th class="text-center">تلفن</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td class="text-center">
                        <a class="text-info" asp-page="Details" asp-route-id="@item.Id" style="text-decoration:none"> @item.Name </a>

                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td class="text-center">
                            @item.Phone
                        </td>
                    }
                    <td class="text-center">
                        @* <a asp-page="./Create" asp-route-customerId="@item.Id" asp-route-old="true" style="text-decoration:none" class="text-primary"><i class="bi bi-arrow-clockwise" style="font-size:1.5rem"></i> </a> *@

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-page="./Edit" asp-route-id="@item.Id" style="text-decoration:none"> <i class="bi bi-pencil-square ms-2" style="font-size:1.5rem"></i> </a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" style="text-decoration:none" class="text-danger"><i class="bi bi-trash-fill ms-2" style="font-size:1.5rem"></i> </a>
                        }

                        <a asp-page="/Admin/Cars/Index" asp-route-customerId="@item.Id" style="text-decoration:none" class="text-info"><i class="bi bi-car-front-fill" style="font-size:1.5rem"></i> </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Count > 10)
    {
        <nav class="d-flex justify-content-center">
            <ul class="pagination">

                <li class=" @(!Model.ShowLast ? "disabled" : "")">
                    <a asp-page="./Index" asp-route-CurrentPage="@Model.TotalPages" class="page-link bg-primary"><span style="@(!Model.ShowLast ? "color:gray" : "color:white")">صفحه آخر</span></a>
                </li>
                <li class="page-item  @(!Model.ShowNext ? "disabled" : "")">
                    <a asp-page="./Index" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link bg-primary"><span style="@(!Model.ShowNext ? "color:gray" : "color:white")">بعدی</span></a>
                </li>

                <li class="page-item @(!Model.ShowPrevious ? "disabled" : "")">
                    <a asp-page="./Index" asp-route-CurrentPage="@(Model.CurrentPage - 1)" class="page-link bg-primary"><span style="@(!Model.ShowPrevious ? "color:gray" : "color:white")">قبلی</span></a>
                </li>
                <li class="@(!Model.ShowFirst ? "disabled" : "")">
                    <a asp-page="./Index" asp-route-CurrentPage="1" class="page-link bg-primary"><span style="@(!Model.ShowFirst ? "color:gray" : "color:white")">صفحه اول</span></a>
                </li>


            </ul>

        </nav>
        <div class="d-flex justify-content-center">  صفحه @Model.CurrentPage از @Model.TotalPages  </div>
        <div class="d-flex justify-content-center"> تعداد کل مشتریان: @Model.Count  </div>
    }
</div>
