@page
@model BatteryPeykCustomers.Pages.Admin.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />
<h1>Create</h1>


    <hr />
<p>
    <a class="btn btn-info" asp-page="Create"><i class="bi bi-plus-square"></i>&nbsp;&nbsp;Create New</a>
</p>

<form>
    <p>
        Name: <input type="text" asp-for="SearchNameString" />
        Phone: <input type="text" asp-for="SearchPhoneString" />
        <button type="submit" class="btn btn-info"><i class="bi bi-search"></i>&nbsp;&nbsp;Search</button>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Battery
            </th>
            <th>
                Phone
            </th>
            <th>
                PurchaseDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Battery
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @Model.ToPersianDate(@item.PurchaseDate)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Phone" class="text-warning"><i class="bi bi-pencil-square" style="font-size: 1.2rem"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Phone"><i class="bi bi-info-square" style="font-size: 1.2rem"></i></a> |
                    <a asp-page="./Delete" class="text-danger" asp-route-id="@item.Phone"><i class="bi bi-trash-fill" style="font-size: 1.2rem"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
