@page
@model BatteryPeykCustomers.Pages.Admin.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Battery
            </th>
            <th>
                Car
            </th>
            <th>
                Phone
            </th>
            <th>
                PurchaseDate
            </th>
            <th>
                GuarantyStartDate
            </th>
            <th>
                Life Expectancy
            </th>
            <th>
                Comments
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.Car
                </td>
                <td>
                    @item.Battery
                </td>
                <td>
                    @item.Phone
                </td>

                <td>
                    @item.PurchaseDate
                </td>
                <td>
                    @item.GuarantyStartDate
                </td> 
                <td>
                    @item.LifeExpectancy
                </td>
                <td>
                    @item.Comments
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Phone">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Phone">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Phone">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
