@page
@using BatteryPeykCustomers.Helpers
@model BatteryPeykCars.Pages.Admin.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<script type="text/javascript">
    function copy(phone) {
        navigator.clipboard.writeText("https://BatteryPeyk.com/vip.html?m=" + phone);
    }
</script>

<p>
</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.car.Make</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
            @Model.car.Battery
        </h6>
        <p class="card-text">
            <table class="table table-sm">
                <tr>
                    <td class="text-center">تاریخ خرید</td>
                    <td class="text-center">
                        @Model.car.PurchaseDate.ToShortDateString()
                    </td>
                </tr>
                <tr>
                    <td class="text-center">گارانتی</td>
                    <td class="text-center">@Model.car.Guaranty</td>
                </tr>
                <tr>
                    <td class="text-center">طول عمر</td>
                    <td class="text-center">@Model.car.LifeExpectancy</td>
                </tr>
                <tr>
                    <td class="text-center">زمان تعویض</td>
                    <td class="text-center">
                        @Model.car.ReplaceDate.ToShortDateString()
                    </td>
                </tr>
                <tr>
                    <td class="text-center">داغی</td>
                    <td class="text-center">
                        @Model.car.UsedBattery
                    </td>
                </tr>

                <tr>
                    <td class="text-center">توضیحات</td>
                    <td class="text-center">@Model.car.Comments</td>
                </tr>
            </table>

        </p>
        <a class="btn btn-primary ml-2" asp-page="./Edit" asp-route-id="@Model.car.Id">ویرایش</a>
        <a class="btn btn-primary ml-2" href='javascript:history.go(-1)'>بازگشت</a>

    </div>
</div>

